{% extends "index.html" %}
{% load static %}
{% block nav %}
<ul>
    <li class=""><a href="{% url 'home_page' %}">Home</a></li>
    <li class="active"><a href="{% url 'about_us' %}">About</a></li>
    <li><a href="{% url 'activity_list' %}">Activities</a></li>
    <li><a href="{% url 'my_booking_view' %}">My New Bookings</a></li>
</ul>      
{% endblock %}
{% block content %}
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb/classes-breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>About</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
                            <span>About</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section about-page spad" style="background-color: #343a40;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-pic">
                        <img src="{% static 'img/about-pic.jpg' %}" alt="">
                        <a href="https://www.youtube.com/watch?v=SlPhMPnQ58k" class="play-btn video-popup">
                            <img src="{% static 'img/play.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>Story About Us</h2>
                        <p class="first-para">NCI Sports Club</p>
                        <img src="{% static 'img/about-signature.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->



{% endblock %}