{% extends "index.html" %}
{% load static %}

{% block nav %}
<ul>
    <li class=""><a href="{% url 'home_page' %}">Home</a></li>
    <li class="active"><a href="{% url 'activity_list' %}">activities</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'my_booking_view' %}">My Bookings</a></li>
    {% endif %}
</ul>      
{% endblock %}
<style>
    .cancel-btn{
    width: 101%;
    border-radius: 2px;
    color: rgb(53, 7, 7);
  
}
</style>


{% block content %}
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/img7.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2 >Activity Detail</h2>
                        <div class="breadcrumb-option">
                            <a href="{% url 'home_page' %}"><i class="fa fa-home"></i> Home</a>
                            <span>Detail</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- About Section Begin -->
    <section class="about-section about-page spad">
        <div class="container">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-pic">
                            <h3 style="color: white;" class="mt-4">{{detail.activity_name}}</h3>
                       
                        </div>
                    </div>
                    <div class="col-lg-6">
                        
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <div class="">
                            <p style="color: white;">{{detail.activity_desc}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="row mt-5">
                    <div class="col-md-3">
                        <strong style="color: green;">paid!!</strong>
                        <label style="color: white;" for="start_time">Charge per session</label>
                        <input class="form-control" id="price" name="price" readonly type="text" value="{{detail.activity.activity_price}}/hr">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-4 col-sm-6">
                        <label style="color: white;" for="start_time">Select Date</label>
                        <input class="form-control" readonly id="date" name="date" value="{{detail.date_of_booking}}" type="text">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-2 ">
                        <label style="color: white;" for="start_time">Select Session</label>
                        <div class="form-group">
                            <select class="form-control" name="time_frame" id="exampleFormControlSelect1">
                              <option>{{detail.activity_slot}}</option>
              
                            </select>
                        </div>
                    </div>

              
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button class="primary-btn signup-btn cancel-btn" id="cancel_btn" type="submit">cancel booking</button>
                    </div>
                </div>
                <div class="row mt-4">
                    {% if error %}
                    <div class="col-md-8">
                        <strong style="color: red;">{{error}}</strong>
                    </div>
                    {% endif %}

                </div>
            </form>
        </div>
    </section>
    <!-- About Section End -->
{% endblock %}
